body {
  margin: 24px 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.screenshot {
  position: relative;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  background: gray;
}
.screenshot__arc,
.screenshot__img {
  position: absolute;
  left: 0;
  top: 0;
}
.screenshot__arc {
  z-index: 1;
  top: 43px;
}

.c-form {}

.c-field {

}
.c-field + .c-field {
  margin-top: 16px;
}

.c-field__title {
  display: block;
}

.c-input--range {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 300px;
}
.c-input--range:focus {
  outline: none;
}
.c-input--range::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
.c-input--range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.c-input--range:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
.c-input--range::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
.c-input--range::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.c-input--range::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.c-input--range::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.c-input--range::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.c-input--range::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.c-input--range:focus::-ms-fill-lower {
  background: #2497E3;
}
.c-input--range:focus::-ms-fill-upper {
  background: #2497E3;
}
